body, header, footer, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}


html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

body {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 80% 1fr;

  & > header.site-header {
    grid-row: 1;
    grid-column: 2;
    padding: 3.5rem 0 3rem;
  }

  & > main {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
  }

  & > footer.site-footer {
    grid-row: 3;
    grid-column: 2;
    padding: 3rem 0;
  }
}

section {
  padding: 2rem 0;

  ul {
    list-style: none;

    li {
      margin: 1rem 0;

      a {
        display: block;
        padding: 1.5rem 1.5rem;
        font-weight: normal;
        line-height: 1.6;
        text-decoration: none;
        background: hsl(190, 75%, 70%);
        color: inherit;
        border-radius: 1.5rem;
      }
      
    }
  }
}